<!-- including header here -->
<%- include("partials/header.ejs") %>


<main>
  <div class="container list-unstyled py-5" >
    <div class="d-flex justify-content-center align-items-center gap-3 ">
      <a class="actionBtn" role="button" href="/create">Create</a>
     <a class="actionBtn" role="button" href="/view">View</a>
    </div>

    <% if(locals.title && locals.content){ %>
      <div class="row mt-5 mb-5 justify-content-center ">
        <div class="col-md-8 col-9 text-bg-dark">
          <div class="d-flex p-4 flex-column justify-content-center">
            <h3><%= title %></h3>
            <p><%= content %></p>
            <div class="align-self-end">
              <a href="/edit" class="actionBtn">Edit</a>
              <a href="/delete" class="actionBtn">Delete</a>
            </div>
          </div>
        </div>
      </div>
    <% } %>

  </div>
</main>


 <!-- including footer -->
<%- include("partials/footer.ejs") %>