<!-- including header here -->
<%- include("partials/header.ejs") %>


<main>
  <div class="container list-unstyled py-5" >
    <div class="d-flex justify-content-center align-items-center gap-3 ">
      <a class="actionBtn" role="button" href="/create">Create</a>
     <a class="actionBtn" role="button" href="/view">View</a>
    </div>
  </div>
</main>


 <!-- including footer -->
<%- include("partials/footer.ejs") %>