<!-- including header here -->
<%- include("partials/header.ejs") %>


  <main>
    <div class="container list-unstyled py-5">
      <div class="d-flex mb-5 justify-content-center align-items-center gap-3 ">
        <a class="actionBtn" role="button" href="/">Home</a>
        <a class="actionBtn" role="button" href="/create">Create</a>
        <a class="actionBtn" role="button" href="/view">View</a>
      </div>

      <!-- including home ejs -->
    

    <% if(locals.view == true){ %>
    <%- include("partials/view.ejs") %>
    <% } else{ %>
      <%- include("partials/home.ejs") %>
      <% } %>
    </div>
  </main>


  <!-- including footer -->
  <%- include("partials/footer.ejs") %>